<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> Dashboard For Testing </title>

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>

<body>

<!-- ================= HEADER ================= -->
<div class="header">

    <div class="header-left">

        <button id="menuBtn" class="menu-btn">
            ☰
        </button>

        <div class="title">
            SMART DASHBOARD FOR TESTING
        </div>

    </div>

    <div id="clock" class="clock"></div>

</div>



<div id="sideMenu" class="side-menu">


    

    <h2>MENU</h2>

    <button onclick="showDashboard()">
        Dashboard
    </button>

    <button onclick="showSection('chart')">
        Charts
    </button>

    <button onclick="showSection('tank')">
        Water Tank
    </button>

    <button onclick="showSection('activity')">
        Activity
    </button>

    <button onclick="showSection('status')">
        System Info
    </button>

</div>





<!-- ================= MAIN LAYOUT ================= -->
<div class="container">

    <!-- ================= MAIN CONTENT ================= -->
    <div class="main">

        <!-- ===== STATUS + WATER + CONTROL GROUP ===== -->
        <div class="cards">

            <!-- WATER LEVEL -->
            <div class="card">
                <h3>Water</h3>
                <div id="waterLevel" class="value">0%</div>
            </div>

            <!-- SYSTEM STATUS -->
            <div class="card">
                <h3>SYSTEM STATUS</h3>
                <div id="systemStatus" class="value">OFFLINE</div>
            </div>

        </div>

        <!-- ================= CONTROL STATUS GROUP ================= -->
        <div class="cards">

            <div class="card">
                <h3>UP</h3>
                <div id="upStatus" class="value off">OFF</div>
            </div>

            <div class="card">
                <h3>DOWN</h3>
                <div id="downStatus" class="value off">OFF</div>
            </div>

            <div class="card">
                <h3>LEFT</h3>
                <div id="leftStatus" class="value off">OFF</div>
            </div>

            <div class="card">
                <h3>RIGHT</h3>
                <div id="rightStatus" class="value off">OFF</div>
            </div>

            <div class="card">
                <h3>COMMAND</h3>
                <div id="commandStatus" class="value">Neutral</div>
            </div>

        </div>

    

        <!-- ================= MODE CONTROL ================= -->
        <div class="control">

            <h3>Mode</h3>

            <button class="btn" onclick="setMode('manual')">
                MANUAL
            </button>

            <button class="btn2" onclick="setMode('random')">
                RANDOM
            </button>

            <button onclick="startJson()">
                PLAY JSON
            </button>

        </div>

        <!-- ================= MOVEMENT CONTROLS ================= -->
        <div class="controls">

            <button onclick="control('Rotate')">Left_light_on</button>
            <button onclick="control('Lift')">Left_light_off</button>
            <button onclick="control('Left')">Left_fan_on</button>
            <button onclick="control('Right')">left_fan_off</button>
            <button onclick="control('Rotate_Left')">ROTATE L</button>
            <button onclick="control('Rotate_Right')">ROTATE R</button>
            <button onclick="control('Push')">Left_pump_on</button>
            <button onclick="control('Pull')">Left_pump_off</button>
            <button onclick="control('Neutral')">STOP</button>

            <button onclick="openBLE()">📡 BLE Provisioning</button>

        </div>
       
        <div id="tankCard" class="card">

    <div class="tank">

        <div id="waterFill" class="water"></div>

        <div id="tankText" class="water-text">
            0%
        </div>

    </div>

</div>

<div id="chartCard" class="card">

    <canvas id="waterChart"></canvas>

</div>

<div id="activityCard" class="card">

    <h3>Activity Log</h3>

    <div id="activity" class="activity"></div>

</div>

<div id="statusCard" class="card">

    <h3>System Information</h3>

    <br>

    ACK :
    <div id="ackStatus">
        WAITING...
    </div>

    <br>

    Mode :
    <div id="modeStatus">
        MANUAL
    </div>

</div>



    </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>